<!-- <ng-template #mymodal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Here I am!
    </div>
    <div class="modal-footer">
        <button
            type="button"
            (click)="modal.close('Save click')"
            class="btn btn-outline-dark"
        >
            Ok
        </button>
    </div>
</ng-template> -->

<!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="passBack()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    Here I am!
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="passBack()">
        Ok
    </button>
</div> -->
