<input
    matInput
    placeholder="Full Name"
    [matAutocomplete]="auto"
    formControlName="fullname"
    class="mat-input-element mat-form-field-autofill-control"
/>

<!-- 
<input
type="text"
class="mat-input-element mat-form-field-autofill-control"
[formControl]="formControl"
[matAutocomplete]="auto"
/> -->
<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
    </mat-option>
</mat-autocomplete>
