<div class="container-fluid pt-5">
    <div class="row mb-4">
        <div class="col-sm-6 text-left">
            <h2 class="demo ">Empleados ...</h2>
        </div>
        <div class="col-sm-6 text-right">
            <button
                (click)="demo()"
                color="warning"
                class="btn btn-lg"
                style="background-color:transparent;"
            >
                <fa name="plus" color="danger" size="4x"></fa>
            </button>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header text-left">
            Featured
        </div>
        <div class="card-body">
            <div class="row">
                <div
                    class="col-sm-3 mt-2"
                    *ngFor="let item of [1, 1, 1, 2, 2, 1]; let i = index"
                >
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Special title treatment{{ i }}
                            </h5>
                            <p class="card-text">
                                With supporting text below as a natural lead-in
                                to additional content.
                            </p>
                            <button class="btn btn-success btn-sm btn-block">
                                dame click
                            </button>

                            <a href="" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-right">
            2 days ago
        </div>
    </div>
</div>
